.individuals_scr{
    background:rgb(125, 165, 102);
    border-radius: 5%;
    grid-column: 4/6;
    grid-row: 1/2;
  }
.bussiness_scr{
    background:rgb(103, 96, 199);
    border-radius: 5%;
    grid-column: 4/6;
    grid-row: 2/3;
  }
.special_needs_scr{
      background:LightPink;
      border-radius: 5%;
      grid-column: 4/6;
      grid-row: 3/4;
  }
.ads{
    background:rgb(221, 216, 216);
    border-radius: 2%;
    grid-column: 1/4;
    grid-row: 1/4;
}
.attachments{
    background:rgb(22, 19, 19);
    border-radius: 5%;
    grid-column: 1/6;
    grid-row: 4/5;
}
.container2 {
    background-color: dimgray;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }